body {
  margin: 0%;
  background-color: black;
  /* overflow-y: scroll; */
}

/* glitch text styling */
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.hero {
  font-size: calc(0px + 7vh);
  line-height: calc(20px +40vh);
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  margin-right: 700px;
  margin-top: 0px;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

body {
  padding: 2vw;
  /* overflow-y: scroll; */
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.btnnn {
  margin-left: 200px;
  background-color: orange;
  color: white;
  font-size: 24px;
  padding: 16px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btnnn:hover {
  /* background-color: white; */
  color: orange;
  border: 2px solid orange;
}

.gify {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  color: white;
  float: right;
  margin-top: -31%;
  margin-right: 6%;
}

.gify video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  color: white;
}

.img{
  margin-top: 150px;
  height: 200%;
  width: 20%;
  float: left;
  margin-left: 55%;
}

.imgg{
  height: 40%;
  border-radius: 60px;
  
}

/* @media screen and (max-width:500%) {
  .container {
      font-size: 14px;
  }
}   */

@media (max-width: 768px) {
.container {
  width: 100%;
}
.hero {
  font-size: 24px;
}
.gify video {
  width: 100%;
}
.img {
  display: none;
}
}